@using MyLibrary.Constants
@using MyLibrary.DTOs
@using System.Collections;
@using System.Linq;
@model MyLibrary.ViewModels.EstablishmentFullVwMdl

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-dark">@Model.Name</h1>

<h3 class="font-italic text-secondary">Details</h3>
<hr />
<div class="row">
    <div class="col-3">
        <div class="card h-100 w-100 border-0">
            <img class="card-img-top w-100" src="@Url.Action("RenderLogo", new {estabId = Model.Id})" alt="Card image cap">
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header font-weight-bold text-white bg-dark">Informations</div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-3 border-right">
                        Ref.
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Id)
                    </dd>
                    <dt class="col-sm-3 border-right">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-3 border-right">
                        Type
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.EstabType)
                    </dd>
                    <dt class="col-sm-3 border-right">
                        # VAT
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.VatNum)
                    </dd>
                    <dt class="col-sm-3 border-right">
                        Professional email
                    </dt>
                    <dd class="col-sm-9">
                        <a href="mailto:@Model.EmailPro">@Html.DisplayFor(model => model.EmailPro)</a>
                    </dd>
                    @if (User.IsInRole(MyIdentityServerConstants.Role_Admin))
                    {
                        <dt class="col-sm-3 border-right">
                            Status
                        </dt>
                        <dd class="col-sm-9">
                            @if (Model.IsValidated)
                            {
                                <p class="card-text font-italic text-success">Validated</p>
                            }
                            else
                            {
                                <p class="card-text font-italic text-danger">Waiting validation</p>
                            }
                        </dd>
                    }
                    <dt class="col-sm-3 border-right">
                        @Html.DisplayNameFor(model => model.Manager)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Manager)
                    </dd>
                </dl>
            </div>

        </div>
    </div>
</div>
<div class="row pt-1 pb-1">
    <div class="col-12">
        <div class="card">
            <div class="card-header font-weight-bold text-white bg-dark">
                <a class="text-white" data-toggle="collapse" href="#Description">Description</a>
            </div>
            <div class="card-body collapse show font-italic" id="Description">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
    </div>
</div>
<div class="row pt-1 pb-1">
    <div class="col-6">
        <div class="card">
            <div class="card-header font-weight-bold text-white bg-dark">
                <a class="text-white" data-toggle="collapse" href="#Address">Address</a>
            </div>
            <div class="card-body collapse" id="Address">
                <dl class="row">
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Country)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Country)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.City)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.ZipCode)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.ZipCode)
                    </dd>
                    <dt class="col-sm-4">
                        @Html.DisplayNameFor(model => model.Street)
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Street)
                    </dd>
                    <dt class="col-sm-4">
                        House #
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.HouseNumber)
                    </dd>
                    <dt class="col-sm-4">
                        Box #
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.BoxNumber)
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-header font-weight-bold text-white bg-dark">
                <a class="text-white" data-toggle="collapse" href="#Details">Details</a>
            </div>
            <div class="card-body collapse" id="Details">
                <dl class="row">
                    <dt class="col-sm-4">
                        Phone #
                    </dt>
                    <dd class="col-sm-8">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-4">
                        Public Email
                    </dt>
                    <dd class="col-sm-8">
                        <a href="mailto:@Model.PublicEmail">@Html.DisplayFor(model => model.PublicEmail)</a>
                    </dd>
                    <dt class="col-sm-4">
                        Website
                    </dt>
                    <dd class="col-sm-8">
                        <a href="@Model.WebsiteUrl">@Html.DisplayFor(model => model.WebsiteUrl)</a>
                    </dd>
                    <dt class="col-sm-4">
                        Short url
                    </dt>
                    <dd class="col-sm-8">
                        <a href="@Model.ShortUrl">@Html.DisplayFor(model => model.ShortUrl)</a>
                    </dd>
                    <dt class="col-sm-4">
                        Instagram
                    </dt>
                    <dd class="col-sm-8">
                        @if (@Model.InstagramUrl != null)
                        {
                            <a href="@Model.InstagramUrl">click here</a>
                        }
                    </dd>
                    <dt class="col-sm-4">
                        Facebook
                    </dt>
                    <dd class="col-sm-8">
                        @if (@Model.FacebookUrl != null)
                        {
                            <a href="@Model.FacebookUrl">click here</a>
                        }
                    </dd>
                    <dt class="col-sm-4">
                        LinkedIn
                    </dt>
                    <dd class="col-sm-8">
                        @if (@Model.LinkedInUrl != null)
                        {
                            <a href="@Model.LinkedInUrl">click here</a>
                        }
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="row pt-1 pb-1">
    <div class="col-12">
        <div class="card">
            <div class="card-header font-weight-bold text-white bg-dark">
                <a class="text-white" data-toggle="collapse" href="#Opening">Opening Hours</a>
            </div>
            <div class="card-body collapse" id="Opening">
                <dl class="row">
                    @{
                        var sortedlist = Model.OpeningTimesList.OrderBy(x => x.DayOfWeek);
                    }
                    @foreach (OpeningTimesDTO oTime in sortedlist)
                    {
                        <dt class="col-sm-4 font-weight-bold">
                            @oTime.DayOfWeek
                        </dt>
                        <dd class="col-sm-8">
                            @if (@oTime.IsOpen)
                            {
                                DateTime opening = new DateTime(); 
                                DateTime closing = new DateTime();
                                @if(@oTime.OpeningHour.HasValue)
                                {
                                    opening = (DateTime)@oTime.OpeningHour;
                                }
                                @if (@oTime.ClosingHour.HasValue)
                                {
                                    closing = (DateTime)@oTime.ClosingHour;
                                }
                                <p>@opening.ToString("t") / @closing.ToString("t")</p>
                            }
                            else
                            {
                                <p>closed</p>
                            }
                        </dd>
                    }
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="row pt-1 pb-1">
    <div class="col-12">
        <div class="card">
            <div class="card-header font-weight-bold text-white bg-dark">
                <a class="text-white" data-toggle="collapse" href="#Pictures">Pictures</a>
            </div>
            <div class="card-body collapse" id="Pictures">
                <dl class="row">
                </dl>
            </div>
        </div>
    </div>
</div>

