@using MyLibrary.Constants
@model cloudscribe.Pagination.Models.PagedResult<MyLibrary.ViewModels.EstablishmentShortVwMdl>

@{
    ViewData["Controller"] = "Establishments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="ml-5">@ViewData["HeadText"]</h1>
<hr/>
@if (Model.Data.Count == 0)
{

    <h4 class="ml-5 font-italic text-info">There is no establishment to list actually</h4>
}
<div class="d-flex justify-content-center">
    <partial name="_PaginationPartial" view-data="ViewData" model="Model" />
</div>

@foreach (var item in Model.Data)
{
    <div class="card mb-3 w-75 border-dark bg-dark ml-5">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="card-img-top" src="@Url.Action("RenderLogo", new {estabId = item.Id})" alt="Card image cap">
            </div>
            <div class="col-md-8 bg-dark d-flex flex-column">
                <div class="card-body">
                    <h3 class="card-title text-white">@Html.DisplayFor(modelItem => item.Name)</h3>
                    <hr class="border-secondary" />
                    <h5 class="card-text font-italic text-warning">@Html.DisplayFor(modelItem => item.EstabType)</h5>
                    @if (User.IsInRole(MyIdentityServerConstants.Role_Admin))
                    {
                        <h6 class="card-text font-italic text-secondary">Manager : @Html.DisplayFor(modelItem => item.ManagerUserName)</h6>
                    }
                    @if (User.Claims.First(x => x.Type.Contains("sub")).Value.Equals(item.ManagerId)||User.IsInRole(MyIdentityServerConstants.Role_Admin))
                    {
                        @if (item.IsValidated)
                        {
                            <h6 class="card-text font-italic text-success">Validated</h6>
                        }
                        else
                        {
                            <h6 class="card-text font-italic text-danger">Waiting validation</h6>
                        }
                    }
                </div>               
                <div class="align-self-end p-2">
                    <a href="#" class="btn btn btn-danger mt-auto" onclick="dltClick('@item.Name','@item.Id');">Delete</a>
                    <a href="#" class="btn btn btn-warning text-white mt-auto">Edit</a>
                    @if (User.IsInRole(MyIdentityServerConstants.Role_Admin) && (!@item.IsValidated))
                    {
                        <a href="#" class="btn btn btn-success mt-auto">Validate</a>
                    }
                    @if (User.IsInRole(MyIdentityServerConstants.Role_User))
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn btn-primary mt-auto">Full view</a>
                    }
                </div>
            </div>
        </div>
    </div>
}

<partial name="_Delete"/>

@section Scripts
{
    <script>

        function dltClick(estabName, estabId) {
            $('#estabNameToDlt').text(estabName);
            $('#estabIdToDlt').val(estabId);
            $("#myModalDelete").modal("show");
        };

        $(document).ready(function() {
            $('#confirmBtnDltModal').click(function() {
                var id = $('#myModalDelete #estabIdToDlt').val().trim();
                $.post("Delete",
                    { estabId: id },
                    function(success) {
                        if (success) {
                            sessionStorage.reloadAfterPageLoad = true;
                            sessionStorage.setItem("success", "Establishment has been successfully deleted");
                            location.reload();
                        } else {
                            displayToastrMsg("Deletion has ended with some issue. Please try again", "Error", "Error");
                        }
                    });
            });

            $(function() {
                    if (sessionStorage.reloadAfterPageLoad) {
                        if (sessionStorage.getItem("success") != null)
                        {
                            var msg = sessionStorage.getItem("success");
                            displayToastrMsg(msg, "Succeed", "Success");
                            sessionStorage.clear();
                            sessionStorage.reloadAfterPageLoad = false;
                        }
                    }
                }
            );
        });

    </script>

}