@using MyLibrary.Cookies
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    @RenderSection("AddMapToHead", required: false)
</head>
<body>
    <header>
        <partial name="_NavBar" />
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Vanhoeke Adrian - <a href="#">About Us</a>
            <span class="float-right">
                @{await Html.RenderPartialAsync("_SocialSharing", ViewData["Title"]);}
            </span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="~/js/displayToastrMsg.js"></script>
    <script>
    $(document).ready(function() {
        if ('@TempData[MyCookies.ToastrMessage]')
            displayToastrMsg('@TempData[MyCookies.ToastrMessage]', '@TempData[MyCookies.ToastrTitle]', '@TempData[MyCookies.ToastrType]');
    });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
